.cliff-h1{
    color: #99ccff;
}

.bg{
    background-image: url('https://i.pinimg.com/originals/a7/fe/d7/a7fed72aa0bb9cdb8ce085ceb48abea5.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 42.5vw;
}